body{
  margin: 0px;
  padding: 0px;
  background-color: #FFF7F7;
  font-family: Helvetica;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  letter-spacing: 0
}

h5,h5,p {
  line-height: 1.5rem;
}

body {
  line-height: 2rem;
}

/* Slider-section */
.slider-section {
  position: relative;
  background-color: #FFFFFF;
  padding: 40px;
  z-index: 100;
}

.left-arrow {
  left: 5%;
}

.left-arrow, .right-arrow {
  cursor: pointer;
  text-align: center;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #FD984D;
  border-radius: 50%;
  top:40%;
}

.left-arrow h6, .right-arrow  h6 {
  margin-top: 10px;
  font-size: 25px;
  color: #fff;
}

.right-arrow {
  right: 5%;
}


.slider-section-inner {
  padding: 30px 80px;
  display: flex;
  flex-direction: row;
  display: none;
}

.slider-section-inner h1 {
  line-height: 4rem;
  font-size: 65px;
  font-weight: 700;
}

.slider-section-inner p {
  text-align: justify;
}

.slider-section-inner button {
  background-color: #000;
  color: #fff;
  padding: 15px 30px;
  margin-right: 10px;
  border: 0px;
}

.slider-section-inner span {
  text-decoration: underline;
}

.slider-section-inner-acitve {
  display: flex;
  flex-direction: row;
}

.slider-section-inner-left {
  padding: 40px;
  width: 50%;
}

.slider-section-inner-right {
  padding: 40px;
  width: 50%;
}

.slider-section-inner-right img {
  width: 100%;
}

/* Business Section */
.business-section {
  background-image: linear-gradient(to right, #FFF, #FDE6FD);
  display: flex;
  padding:60px 100px;
}

.business-section .round-shape-image {
  position: absolute;
  top: 40%;
  left: -20%;
  transform: scaleX(-1) rotate(115deg);
  width: 40%;
}
.business-section-left {
  width: 50%;
  padding: 20px;
  z-index: 10;
}

.business-section-left h5 {
  margin-top: 15px;
  text-decoration: underline;
}

.business-section-right {
  padding: 20px;
  width: 50%;
}

.business-section-right img {
  width: 100%;
  height: auto;
}

/* Interface Section */
.interface-section {
  padding:60px 220px;
}

.interface-section-inner {
  background: #F6DEDE;
  display: flex;
}

.interface-section-inner-left {
  width: 50%;
  padding-top: 5%;
  padding-left: 5%;
  position: relative;
}

.attached-image-section {
  background: #fff;
}

.attached-image-section img {
  width: 100%;
  padding-top: 5%;
  padding-left: 10%;
  height: 80%;
}

.interface-section-inner-right {
  width: 50%;
  position: relative;
}

.interface-section-inner-right > .image-section {
  padding-top: 20px; 
  padding-left: 20%;
}

.interface-text-section-div {
  right: 0px;
  position: absolute;
  background-color: #fff;
  width: 60%;
  padding: 30px;
  bottom: 0px;
}

/* Web Design Section */
.web-design-section {
  padding:60px 220px;
}

.web-design-section-inner {
  position: relative;
  background-image: url('../img/image3.JPG');
  background-size: 100% 100%;
  height: 400px;
}
.web-design-text {
  right: 0px;
  position: absolute;
  background-color: #fff;
  width: 35%;
  padding: 30px;
  bottom: 0px;
}

/* Information Architecture Section */
.information-architecture-section {
  padding:60px 220px;
}

.information-architecture-section-inner {
  position: relative;
  background-image: url('../img/image4.JPG');
  background-size: 100% 100%;
  height: 400px;
}
.information-architecture-text {
  right: 0px;
  position: absolute;
  background-color: #fff;
  width: 35%;
  padding: 30px;
  bottom: 0px;
}

/* Business Section */
.identify-business-base-section {
  position: relative;
}

.identify-business-base-section .combined-shape{
  position: absolute;
  width: 100%;
  height: auto;
  top: -40%;
}
.identify-business-section {
  display: flex;
  padding:60px 200px;
}

.identify-business-section-left {
  width: 50%;
  padding: 20px;
  z-index: 10;
}

.identify-business-section-right {
  position: relative;
  padding: 20px;
  width: 50%;
}

.identify-business-section-right img {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: auto;
}

/* Question section */
.question-section {
  margin-top: 180px;
  padding:60px 220px;
  display: flex;
  flex-direction: row;
}

.question-section-left {
  width: 50%;
}

.question-section-left img {
  width: 100%;
}

.question-section-right {
  padding-left: 40px;
  width: 50%;
}

/* Subscribe section */
.subscribe-section {
  padding:60px 220px;
  display: flex;
  justify-content: center;
}

.subscribe-section-inner {
  width: 50%;
  text-align: center;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.form-control {
  margin-bottom: 0;
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #000;
  border-radius: .25rem 0rem 0rem 0.25rem;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
}

.input-group-append {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -5px;
}

.input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem 2rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #000;
  border: 2px solid #000;
  border-radius: .25rem;
}

/* Youtube section */
.video-section {
  padding:60px 220px;
  display: flex;
  justify-content: center;
}

.video-section-inner {
  width: 50%;
  text-align: center;
}

.video-section-inner img {
  width: 100%;
  cursor: pointer;
}

/* Modal CSS */

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive Design */
/* Media Query CSS */


/* Responsive CSS for Tablet */
@media only screen and (max-width: 1028px) {

    /* Slider-section */
    .slider-section {
      padding: 20px;
    }

    .slider-section-inner {
      padding: 10px 30px;
      flex-direction: column;
    }

    .slider-section-inner h1 {
      line-height: 3rem;
      font-size: 50px;
    }

    .slider-section-inner-acitve {
      display: flex;
      flex-direction: column;
    }

    .slider-section-inner-left {
      padding: 10px;
      width: 100%;
    }
    
    .slider-section-inner-right {
      padding: 10px;
      width: 100%;
    }

    /* Business Section */
  .business-section {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .business-section .round-shape-image {
    display: none;
  }

  .business-section-left {
    width: 100%;
    padding: 20px;
  }

  .business-section-right {
    width: 100%;
    padding: 20px;
  }

  /* Interface Section */
.interface-section {
  padding:10px 30px;
}

.interface-section-inner {
  background: #F6DEDE;
  display: flex;
  flex-direction: column;
}

.interface-section-inner-left {
  padding-top: 0%;
  padding-left: 0%;
  width: 100%;
}

.attached-image-section {
  background: #fff;
}

.attached-image-section img {
  width: 100%;
  padding-top: 0%;
  padding-left: 0%;
}

.interface-section-inner-right {
  width: 100%;
  position: relative;
}

.interface-section-inner-right > .image-section {
  display: none;
}

.interface-text-section-div {
  background-color: #fff;
  width: 90%;
  padding: 30px;
  margin: 0 auto;
}

  /* Web Design Section */
  .web-design-section {
    padding:30px;
  }

  .web-design-section-inner {
    height: 320px;
  }
  .web-design-text {
    width: 70%;
    padding: 10px;
  }

  /* Information Architecture Section */
  .information-architecture-section {
    padding:30px;
  }

  .information-architecture-section-inner {
    height: 320px;
  }
  .information-architecture-text {
    width: 70%;
    padding: 10px;
  }

  /* Business Section */
  .identify-business-base-section .combined-shape{
    display: none;
  }
  .identify-business-section {
    flex-direction: column;
    padding:30px;
  }
  
  .identify-business-section-left {
    width: 100%;
  }
  
  .identify-business-section-right {
    width: 100%;
  }

/* Question Section */
.question-section {
  margin-top: 180px;
  padding:20px;
  flex-direction: column;
}

.question-section-left {
  width: 100%;
}

.question-section-left img {
  width: 100%;
}

.question-section-right {
  width: 100%;
}

/* Subscribe Section */
.subscribe-section {
  padding: 20px;
}

.subscribe-section-inner {
  width: 100%;
}

/* Video Section */
.video-section {
  padding:40px;
}
.video-section-inner {
  width: 60%;
}

.video-section-inner img {
  width: 80%;
}
}



/* Responsive CSS for Mobile */
@media only screen and (max-width: 768px) {

  /* Slider-section */
.slider-section {
  padding: 10px;
}

.slider-section-inner {
  padding: 10px 30px;
  flex-direction: column;
}

.slider-section-inner h1 {
  line-height: 2.5rem;
  font-size: 40px;
}

.slider-section-inner p {
  text-align: justify;
}

.slider-section-inner button {
  padding: 10px 15px;
}

.slider-section-inner span {
  text-decoration: underline;
}

.slider-section-inner-acitve {
  display: flex;
  flex-direction: column;
}

.slider-section-inner-left {
  padding: 10px;
  width: 100%;
}

.slider-section-inner-right {
  padding: 10px;
  width: 100%;
}

/* Business Section */
.business-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.business-section .round-shape-image {
  display: none;
}

.business-section-left {
  width: 100%;
  padding: 10px;
}

.business-section-right {
  width: 100%;
  padding: 10px;
}

/* Interface Section */
.interface-section {
  padding:10px 30px;
}

.interface-section-inner {
  background: #F6DEDE;
  display: flex;
  flex-direction: column;
}

.interface-section-inner-left {
  padding-top: 0%;
  padding-left: 0%;
  width: 100%;
}

.attached-image-section {
  background: #fff;
}

.attached-image-section img {
  width: 100%;
  padding-top: 0%;
  padding-left: 0%;
}

.interface-section-inner-right {
  width: 100%;
  position: relative;
}

.interface-section-inner-right > .image-section {
  display: none;
}

.interface-text-section-div {
  background-color: #fff;
  width: 90%;
  padding: 30px;
  margin: 0 auto;
}


  /* Web Design Section */
  .web-design-section {
    padding:30px;
  }

  .web-design-section-inner {
    height: 250px;
  }
  .web-design-text {
    width: 80%;
    padding: 10px;
  }

  /* Information Architecture Section */
  .information-architecture-section {
    padding:30px;
  }

  .information-architecture-section-inner {
    height: 250px;
  }
  .information-architecture-text {
    width: 80%;
    padding: 10px;
  }

  /* Business Section */
  .identify-business-base-section .combined-shape{
    display: none;
  }
  .identify-business-section {
    flex-direction: column;
    padding:30px;
  }
  
  .identify-business-section-left {
    width: 100%;
  }
  
  .identify-business-section-right {
    width: 100%;
  }

  /* Question Section */
  .question-section {
    margin-top: 180px;
    padding:20px;
    flex-direction: column;
  }
  
  .question-section-left {
    width: 100%;
  }
  
  .question-section-left img {
    width: 100%;
  }
  
  .question-section-right {
    width: 100%;
  }
  

  /* Subscribe Section */
  .subscribe-section {
    padding: 20px;
  }
  
  .subscribe-section-inner {
    width: 100%;
  }

  /* Video Section */
  .video-section {
    padding:20px;
  }
  .video-section-inner {
    width: 80%;
  }
  
  .video-section-inner img {
    width: 60%;
  }
}